<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Списки студентів</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css ">
</head>
<body>
<header th:insert="blocks/header :: header"></header>

<div class="container mt-5">
    <div th:each="el : ${student}" class="alert alert-info mt-2">
        <h1 th:text="${el.name_student}"></h1>
        <p th:text="${el.description}"></p>
        <a th:href="'/stud/' + ${el.id_student} + '/edit'" class="btn btn-warning">Редагувати</a><br><br>
        <form th:action="'/stud/' + ${el.id_student} + '/remove'" method="post">
            <button class="btn btn-warning" type="submit">Видалити</button>
        </form>
    </div>
</div>

</body>
</html>