<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Додати до бази</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css ">
</head>
<body>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>

<div class="container">

    <header class="d-flex flex-wrap align-items-center justify-content-center  border-bottom">

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarResponsive" aria-controls="navbarResponsive"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ms-auto">
                        <li><a href="/" class="nav-link px-2 ">Головна</a></li>
                        <li><a href="/create" class="nav-link px-2 ">ДОДАТИ</a></li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#"
                               id="navbarConsultants" role="button" data-bs-toggle="dropdown"
                               aria-expanded="false">Звіти</a>
                            <ul class="dropdown-menu" aria-labelledby="navbarConsultants">
                                <li><a class="dropdown-item" href="/rating">Журнали</a></li>
                                <div class="dropdown-divider"></div>
                                <li><a class="dropdown-item" href="/stud">Студенти</a></li>
                                <li><a class="dropdown-item" href="/teacher">Викладачі</a></li>
                                <li><a class="dropdown-item" href="/subject">Дисципліни</a></li>
                                <li><a class="dropdown-item" href="/group">Групи</a></li>
                            </ul>
                        </li>

                    </ul>
                </div>
            </div>
        </nav>
    </header>
</div>

<div class="container mt-5 mb-5">
    <div class="row">
        <div class="col">
            <img th:src="@{pupil.png}" class="rounded-circle" width="140" height="140"/>
            <h2>студент</h2>
            <p><a class="btn btn-secondary" href="/stud/create">Створити »</a></p>
        </div>
        <div class="col">
            <img th:src="@{teacher.png}" class="rounded-circle" width="140" height="140"/>
            <h2>викладач</h2>
            <p><a class="btn btn-secondary" href="/teacher/create">Створити »</a></p>
        </div>
        <div class="col">
            <img th:src="@{text.png}" class="rounded-circle" width="140" height="140"/>
            <h2>дисципліна</h2>
            <p><a class="btn btn-secondary" href="/subject/create">Створити »</a></p>
        </div>
        <div class="col">
            <img th:src="@{klass.png}" class="rounded-circle" width="140" height="140"/>
            <h2>група</h2>
            <p><a class="btn btn-secondary" href="/group/create">Створити »</a></p>
        </div>
    </div>
</div>

</body>
</html>